<!doctype html>
<html ng-app="webserver">
	<head>
		<title>Multiply</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    	<script src="webservice.js"></script>
	</head>

	<body>
		
		<div ng-controller="webservice">
			<textarea rows="3" cols="50" ng-model="value1" ng-change='multiply()'></textarea>
			<textarea rows="3" cols="50" ng-model="value2" ng-change='multiply()'></textarea>
			{{output.error}} {{output.result}}
			<br/>

		</div>
	</body>
</html>

